@media (max-width: 1005px) {
    .date-pick.form-control{width: 100px;font-size: 11px;padding: 0 10px}
    .sum-green{display: inline-block;    margin-top: 20px;}
    .description-backetPrColor>div{float: none!important;}
    .basket-list .description-backetPr{
        padding:0!important;font-size: 11px;
        height: 55px!important;
        overflow: hidden;
        line-height: 12px;
    }
    .description-backetPrColor{font-size: 11px}
    .basket-list table thead{display: none!important;}
    .basket-list table tbody td:last-child {
        bottom: 0;
        float: left;
        left: 0;
        position: absolute;
    }

    .basket-list .description-backetProduct > div {
        width: calc(100% - 88px);
        width: -webkit-calc(100% - 88px);
        width: -moz-calc(100% - 88px);
        margin-left: 0 !important;
        height: 98px !important;
    }
    .basket-list table td:nth-child(4),
    .basket-list table td:nth-child(5)
    {display: none!important;}
    .basket-list table td:nth-child(3) {
        bottom: 9px;
        position: absolute;
        right: 0;
    }
    .basket-list table tr {
        position: relative;

    }
    .cart-list table tr{display: block!important;min-height:128px}
    .cart-list table tr td{clear:none!important;float: left}

    .cart-list table tr td:nth-child(2) {
        position: static;
        width: calc(100% - 40px) !important;
        width: -moz-calc(100% - 40px) !important;
        width: -webkit-calc(100% - 40px) !important;
        float:left
    }
    .cart-list .description-backetPrColor{float: none!important;clear:both!important;}
    .basket-list table tbody td{padding: 15px 0!important;   height:65px !important;clear: both}

    .cart-remove-btn {
        font-size: 9px;
        height: 13px;
        width: 13px;
    }
    .square-radio:not(checked) + label::after, .square-radio:not(checked) + label::before{
        height: 13px;
        width: 13px;
    }
    .basket-list table tbody td.description-backetProduct{float: left;padding:15px 0!important;    height: 128px !important;}
    .basket-list table{margin:0!important;width:100%!important;}
    .basket-list>div{padding: 0!important;}


    .special-new-years{padding: 0!important;}
    .container{padding-left:  5px!important;padding-right:  5px!important;}
    .products-offers>.container>.row>div{
        margin-bottom: 47px!important;
        padding: 0!important;}
    .product_tabs {
        margin-right:0px!important;
        padding-right: 0px!important;
    }

    #home-slider .no-padding{padding: 0px!important;}
    .no-padding-left,.no-padding{padding: 0 15px!important;}
    .dropdown-cart .no-padding{
        padding: 0 !important;
    }
    .dropdown-cart .bt_facebook {
      padding-right: 4px!important;
      margin: 10px 0;
    }
    .row{margin:0}
    .special-new-years .owl-item,
    .some-products .owl-item{
        padding: 0 12px;
        /*  width: 218px!important;*/
    }
    .special-new-years .product_image{/*height:215px!important;*/}
    .special-new-years .product_image img{width:auto!important;}
}
@media (min-width: 992px) and (max-width: 1199px) {
    .some-products .product_image {
        max-height: 172px;}
	.secMenu ul a {
	  font-size: 12px;
	  color: #464646;
	}        
}
@media (min-width: 768px)  and (max-width: 991px) {
    .basket-list table{margin:0!important;width:100%!important;}
    .basket-list>div{padding: 0!important;}
    .addresses-list td:last-child {
        padding: 0 !important;
        width: 86px;
    }
    .addresses-list button {
        display: block !important;
    }
    .which-address {
        width: 130px;
    }
    .some-products .product_image{max-height: 215px!important;}
    .hmargin-30{margin: 0!important;}
    .padding-sm-0{padding: 0}
    .box-payMethods{margin: 0 15px!important;max-width: unset!important;float: right}
    .addresses-list table{width: 100%;margin: 0}
}
@media(min-width: 992px){
    .pull-right-md{float: right}
}
@media(max-width: 991px){
    .no-padding-sm, .one-product-descript .no-padding{padding:0!important;}
    .one-product-descript .del-price{display: block!important;margin-top: 12px;margin-bottom:5px;font-size:13px!important;}
    .one-product-descript .del-price ~ .g-price{font-size: 20px!important;}
    .one-product-descript .no-padding-left{padding-left: 0!important;}
    .one-product-descript .stars-area {
        font-size: 11px;
        margin-bottom: 0 !important;
        margin-top: -30px !important;
        position: absolute;
        right: 0;
    }
    .f-logo{
    	position: relative;
    	top: -35px;
    }
    .links.contact-info .col-xs-6.col-sm-6.col-md-12.no-padding{
    	padding: 0 !important
    }
    .socIcons li:first-child{
    	margin-left: 0 !important;
    }
/*    .product-colors{padding: 0!important;}
*/    .one-product-descript .quantity.quantity2~div{text-align: center}
    .description-product.one-product-descript {padding: 0!important;}
    .one-product-descript .info-pr div{padding-left: 0;padding-right: 0;font-size:11px}
    /*.zoomsArea{padding: 0;}*/
    .zoomsArea .padding-right-20{padding: 0!important;}
    .fa.fa-mobile {
    	margin-left: 5px;
    }
    .icons-whatsapp{
    	margin-left: -2px;
    }  
    .footer-soc{
    	padding: 0 30px;
    }  
}
@media (max-width:599px){
    .homeslider-description .description{line-height: 12px!important;}
    #homepage-slider .homeslider-description{padding: 2% 30px!important;}
    .products-offers .hover-info, .special-new-years .hover-info{
        width: calc(100% - 10px);
        width: -webkit-calc(100% - 10px);
        width: -moz-calc(100% - 10px);
        height: calc(100% - 10px);
        height: -webkit-calc(100% - 10px);
        height: -moz-calc(100% - 10px);
        left: 5px;
        top: 5px;
        padding: 5px;
        font-size: 12px;
    }
    .special-new-years .hover-info span.dejavu-bold{
        font-size: 12px;
    }
    .special-new-years .product-title{
        font-size: 11px;
        line-height: 18px;
        padding: 5px;
    }

   .categoryProducts  .g-price,
   .categoryProducts  .del-price,
   .order-history-list  .g-price{font-size: 12px;}
    .product_tabs>.nav-tabs>li {font-size: 16px}
    .product_tabs>.nav-tabs>li>a{padding: 10px 22px}
}
@media (max-width: 767px) {
    .header-bottom {
    padding: 0;

    .top-logo {
        margin-left: 15px;
    }

}
.vertical-left-megamenu{
	top: 0 !important;
}
    .footer-soc{
    	padding: 0 15px;
    }  
     .f-logo{
    	position: relative;
    	top: -15px;
    }
    .some-products .box-heading h3{
        margin-bottom: 5px;
        line-height: 1 !important;
    }
    .some-products .owl-carousel {
        margin: 20px 26px!important;
    }
    .homeslider-container>div{padding: 0!important;}
    .main-categories .responsive-btn i:before{content: ""!important;}
    .main-categories .responsive-btn i {
        background: rgba(0, 0, 0, 0) url("../img/menu-bar.png") no-repeat scroll 0 0 / 100% auto;
        display: inline-block;
        height: 38px;
        margin: 5px 0;
        width: 25px;
    }
    .desktop-nav .responsive-btn i {
        width: 25px;
        height: 20px;
        background: rgba(0, 0, 0, 0) url("../img/menu-bar2.png") no-repeat scroll 0 0 / 100% auto;

    }
    .mousetrap{display: none}
    .hide-footer{display: block;text-align: center}
    .account-footer{float: right}
    .contacts-footer{float:left}
    .top-footer .no-padding{padding: 0px!important;}
    .login-link{padding: 0!important;}
    .top-logo{padding-left: 15px!important;}
    .two-datepicker{text-align: center}
    .timepicker-block {
        display: inline-block;
        float: none;
        margin: 0 auto;
    }
    .timepicker-block label {
        margin: 0 2px;
        font-size: 11px;
    }
    .content-box-heading a{line-height: 16px}
    .clearfix-mobile{clear: both}
    .account-list li a{font-size: 12px}
    .order-registration h5.green{font-size: 16px}
    .products-offers  .owl-three{margin:0px 26px!important;}
    .some-products .box-heading {
        padding: 0 25px!important;
    }
    .categoryProducts  .box-heading{padding: 0!important;font-size: 16px}
    .product_image .hover-info{display: none!important;}
    .zoomsArea{padding: 0;    margin-top:15px;}
    .one-product-descript .quantity2 a {
        margin: 0 4px!important;
    line-height: 22px !important;
    }
    .one-product-descript .info-pr{border-top:none}
    .one-product-descript>div:first-child .name-pr{font-size: 13px;    margin-bottom: 3px;}
    .one-product-descript>div:first-child .type-pr{font-size: 11px}
    .one-product-descript .quantity2 > label{padding-right: 5px}
    .one-product-descript .quantity2 .quantity-input,
    .one-product-descript .quantity2 a {
        font-size: 11px !important;
        height: 23px;
    }

    .one-product-descript{position: static}
    .name-pr1{display: none}
    .name-pr2{display: block!important;}
    .name-pr2 .name-pr{font-size: 16px}
    .name-pr2 .type-pr{font-size: 14px}
    .one-product-descript .quantity2 {
        background: #fff none repeat scroll 0 0;
        display: inline-block;
        padding: 0 !important;
        position: absolute;
        right: 0;
        top: 0;
    }

    .one-product-descript .no-padding-left {
        padding: 0
    }

    .categoryProductsAll .product_image .hover-info,
    .categoryProducts .product_image .hover-info {
        display: none !important;
    }
    .comented h4{font-size: 11px!important;}
    .comented .btn{height:23px!important;font-size: 11px!important;}
    .comented textarea{height:45px}
    .comment-list li{padding: 8px}
    .product-tab .tab-pane p{font-size: 9px}
    .product-tab .nav-tabs{margin-bottom:10px}
    .product-tab .tab-content > .tab-pane, .product-tab .tab-content {padding: 0}
    .product-tab > .nav-tabs li{min-width: 65px!important;width: auto!important;font-size: 11px!important;}
    .product-tab > .nav-tabs li a{font-size: 11px!important;}
    .otherInfoProduct > div > div{font-size:9px}
    .filter-panel {
        position: absolute;
        z-index: 99999;
        display: block!important;
    }
    .filter-btn{display: block}
    .categoryProductsAll .list .product-colors > div {
        float: left;
        margin: 5px 2px 0 0;
    }
    .categoryProducts.categoryProductsAll>div{padding:18px 4px!important;}
    .categoryProductsAll .list .product_image2{
        padding: 0!important;
    }
    .categoryProductsAll .list .product_image2 img{
    width:100%!important;}
    .order-history-list .stars-area {
        margin: 4px 0;
    }
    .order-history-list .operations-order .small-btn {
        margin: 8px 3px;
    }
    .order-history-list .product-colors{display: inline-block}
    .order-history-list .order-buttons {
        font-size: 11px;
    }
    .order-history-list .operations-order  div div .btn {
        display: inline-block;
        font-size: 12px !important;
        height: auto!important;
        padding: 6px 14px;
        line-height: 1;
    }
    .order-history-list .operations-order>div{
        float: left!important;width: auto}
    .order-history-list .operations-order .btn {
        line-height: 1;
        margin: 6px 2px;
    }
    .order-history-list .operations-order .btn-red {
        font-size: 13px;
        height: 26px;
        padding: 0 7px;
    }
    .order-history-list .product-colors > span {
        display: inline-block;
        font-size: 11px;
        vertical-align: top;
    }
    .order-date{font-size: 11px;padding: 0;margin: 6px 0 0;color: #9c9c9c}
    .order-date span{display: inline}
    .order-history-list .operations-order div{text-align: left}

    .order-history-list .product-colors > div>span{border-radius: 0}
    .order-history-list .product-colors > div{margin: 0}

    .order-history-list li img{width:100%}
    .basket-list .greenBg.btn, .basket-list .btn-white{
        font-size: 11px;    padding: 4px 0;
       width: 122px;}
    .border-list .fileform{
        height: 19px;
        padding:0;
        overflow: visible;
        cursor:none
    }
    .border-list .fileform .upload{
        height:22px;
        width:144px;
        position: absolute;
        top: 23px;
        left: calc((100% - 145px) / 2);
        left: -webkit-calc((100% - 145px) / 2);
        left: -moz-calc((100% - 145px) / 2);
    }

    .angle-down-more .fileform  .selectbutton{right: auto}
    .border-list .fileform .fileformlabel{padding: 0 5px!important;width:100%}
    .border-list .angle-down-more{height: 44px}
    .border-list .fileform .selectbutton {
        font-size: 11px;
        height: auto;
        padding: 4px 12px;
        position: absolute;
        top: 23px;
        width: auto;
        left: calc((100% - 145px) / 2);
        left: -webkit-calc((100% - 145px) / 2);
        left: -moz-calc((100% - 145px) / 2);
    }
  .border-list li{font-size: 11px}
 .content-box-heading2~p{font-size: 11px!important;}
.btn-red{
    font-size: 11px;
    height: 20px;
    padding: 0 7px;}
    .order-history-list .operations-order>div:not(.hidden-xs){display: block!important;}
    .order-history-list  .operations-order{clear: both;padding: 0px!important;}
    .categoryProductsAll .list .description-product {
        padding: 0 8px;
    }
    .categoryProductsAll .list .g-price + div ,.order-history-list .g-price + div  {
        font-size:8px;
    }
    .categoryProducts .list .operations-order {
        bottom: 0;
        font-size: 11px;
    }
    .categoryProducts .productNum{font-size: 9px;height: auto}
    .categoryProductsAll .product-colors > div,.order-history-list .product-colors > div {
        border-radius: 0;
        height: 14px;
        padding: 1px;
        width: 14px;
    }
    .categoryProductsAll .g-title {
        margin: 7px 0 0;
        font-size: 12px;
    }
    .new-product::before,.new-product span{width:20px;height: 20px;}
    .categoryProductsAll .product-colors >div>span{border-radius: 0!important;}
    .categoryProductsAll .product-add{
        font-size: 11px !important;
        width: 90px !important;
        line-height: 11px !important;}
    .categoryProductsAll .product-colors > div>span,
    .categoryProductsAll .g-description,.order-history-list .g-description,.order-history-list .g-title  {
        display: block;
        font-size: 12px;
        height: 35px;
        line-height: 1;
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .order-history-list> li>div.no-padding{padding: 0!important;}
    .order-history-list .g-title {
        max-height: 44px;
        height: auto;
        padding: 0 !important;
        margin: 0;
    }
 .registration-info .form-control,.registration-info  .forms{font-size: 12px}
    .required{font-size: 14px}
    .registration-title{font-size: 16px}
    .registration-info .form-control {
        font-size: 12px;
        height: 25px;
        padding: 3px 8px !important;
    }
    .registration-step img{height:60px}
    .registration-step > li {
        font-size: 9px;
        padding: 0 7px;
    }
    .registration-video-link>div{text-align: center; font-size: 11px;    line-height: 1;}
.reg-icon+.green.dejavu-bold > .size20{
	font-size: 13px;
}
    .box-payMethods2 {
        margin-top: -12px;
        background-color: #fff;
    }
    .order-registration .box-payMethods {
        float: none;
        margin: 40px auto !important;
        padding: 0 10px 10px;
    }
    .payment-method > ul > li {
        margin-bottom: 5px;
    }
    .gray-hr {
        margin: 0 0 8px;
    }
    .middle-upload-input{margin:8px 0}
    .delivery-method{margin-bottom:10px}
    .delivery-address ul{border-bottom: none;padding-left: 38px;}
    .content-box-heading{margin-bottom: 15px}
    .which-address{width:auto;float:left}
    .addresses-list table td{height: auto!important;clear: both!important;}
    .addresses-list table{width:100%}
    .addresses-list table tr td:nth-child(3){width: 70px}
    .btn-add {
        font-size: 11px;
        height: 20px;
    }
    .btn-green.btn-add .icon_plus{font-size: 12px}
    .btn-green.btn-add span {
        display: inline-block;
    }
    .list-infoMenu > li > div > span::after, .list-infoMenu > li > div > span::before{
        font: 400 11px "FontAwesome" !important;
    }
    .list-infoMenu > li {
        font-size: 11px;
    }
    .inner-content p:not(.sizex10):not(.sizex11){font-size:12px}
    .content-box-heading h4,.content-box-heading2 h4 {
        font-size: 11px;
        line-height: 19px;
    }
    .content-box-heading h4{font-size: 14px!important;}
    .infoMenuBox{text-align: center}
    .list-infoMenu > li > div > span::before{
        content: '\f107';
        font: 400 16px/19px "FontAwesome";
        position: absolute;
        left: 0;
    }

    .list-infoMenu > li.active span::before {
        transform: translateY(-50%) rotateX(-180deg);
        margin-top: 8px;
    }

    .hmargin-30{margin: 0!important;}
    .h-margin-15-sm {margin-left: 15px!important;margin-right: 15px!important;}
    .content-box-heading{padding: 10px 15px!important;}
    .padding-xs-0{padding: 0!important;}
    .tooltip-content{    max-width: 130px!important;}
    .order-registration .padding-left-30{padding-left: 15px}
    .container.no-padding{padding-left:0px!important;padding-right:0px!important;}
    .infoMenuBox{margin-right: 0}
    .products-offers{padding:25px 0px!important; margin: 0px!important;}


    .homeslider-style2 .homeslider .bx-wrapper .bx-pager .bx-pager-item {
        width: 8px !important;
        height: 8px !important;
    }
    .homeslider-style2 .homeslider .bx-wrapper .bx-pager .bx-pager-item a {
        border: 1px solid #fff !important;
        border-radius: 2px !important;
    }
/*    .header-bottom {
        height: 0 !important;
        overflow: hidden;
        padding: 0;
    }*/
    .christmas-tree {
        background: rgba(0, 0, 0, 0) url("../img/сhristmas_tree.png") no-repeat scroll 0 0 / 100% auto !important;
        height: 283px !important;
        width: 199px !important;
    }

    .product-icons {
        margin: 5% auto 10px !important;
    }

    .search_combo {
        display: none !important;
    }

    .main-categories .widget-categories {
        position: absolute !important;
        top: 0px !important;
        z-index: 2147483647;
    }
    .xs-margin-negative-20{margin-top:-20px}
    .no-padding-xs{padding: 0px!important;}
    .payment-methods img{width: 38px!important;height:auto!important;}
    .form-search{
        margin-left: 65px !important;
    }
    .special-new-years .owl-carousel {
        /*     left: auto !important;
             width: auto !important;*/
    }
    .search_category{width:146px!important;}
    .input-serach{
        width:calc(100% - 25px);
        width:-webkit-calc(100% - 25px);
        width:-moz-calc(100% - 25px);
    }
    .currency-lang{
        float: right !important;
        left: auto !important;
        margin-top: 10px;
        position: absolute !important;
        right: 16% !important;
        text-align: right;
    }
    .header-top>.container,.header-top>.container>div{padding: 0!important;}
    .main-categories{position: absolute!important;}
    .widget-categories {
        bottom: 59px;
        float: left !important;
        font-size: 25px;
        left: 0;
        position: relative !important;
    }

    .nav-vertical-left-megamenu .responsive-btn {
        padding: 15px!important;
        position: absolute!important;
        top:58px !important;
    }
    .nav-vertical-left-megamenu ul .responsive-btn  {
        color: #89bb4f!important;
    }


    .nav-vertical-left-megamenu .menu > li a{padding: 0!important;border: none!important;}
    .vertical-left-megamenu  .responsive-btn{
        padding: 10px 0 !important;
        position: static !important;}
    .main-categories~div{padding:0px!important;}
    .nav-vertical-left-megamenu{margin: 0!important}
    .header-bottom .main-categories~div{position: static!important;}
    .cart-login{ position: absolute !important;
        right:8px;
        top: 34px;
        width: 33px;
    }
    .top-logo+div{padding: 0!important;}
    .nav-vertical-left-megamenu .responsive-btn{font-size: 38px!important;}
    .cart-login .dropdown-cart .dropdown-menu::before{right:21px!important;}
    .cart-login .dropdown-menu{right:-12px!important;    margin-top:3px;}
    .cart-login li:last-child{margin-top:16px!important;}
    .cart-login li{display: block!important;}
    .cart-login .dropdown-cart .dropdown-toggle{  height:40px;
        overflow: hidden;
        text-indent: -999px !important;
        width:41px !important;
        background: url("../img/user.png") no-repeat;
    }
    .form-group .search_query,.btn-search{height: 50px!important;}
    .form-group .search_query{
        font-size: 20px !important;
        height: 50px !important;
        padding:0 20px;
    }
    .button-search-icon {
        background: rgba(0, 0, 0, 0) url("../img/search.png") no-repeat scroll 0 0 / 100% auto!important;
        height: 19px!important;
        width: 19px!important;
    }
    .dropdown-menu{left:auto;right:0!important;}
    .iconBag{background:rgba(0, 0, 0, 0) url("../img/iconBag.png") no-repeat scroll -38px 0;color:#79b237!important;}
    .fa.fa-mobile {
    	margin-left: 5px;
    }
    .icons-whatsapp{
    	margin-left: -2px;
    }
    .gray-box{
    	padding: 10px 9px
    }
    .registration-video-link{
    	margin: 12px 0 10px;
    }
.one-product-descript .stars-area{
	right: 15px;
}
.info-pr .col-md-4.col-xs-5.no-padding {
  text-align: right;
}
.order-history-list .operations-order>div.col-xs-7.col-sm-12.no-padding.no-padding-xs{
	float: right !important;
}
.vertical-left-megamenu .torch-green-border{
	padding: 6px 10px; 
}
.vertical-left-megamenu .torch-green-border a{
	font-size: 12px !important
}
.menu li a{
	line-height: 20px !important
}
.nav-vertical-left-megamenu .menu li li a {
  line-height: 30px !important;
}
.menu .megamenu ul li::before {
  content: "-";
  left: -10px;
  position: absolute;
  top: 5px;
}
.cart-login .dropdown-menu {
  right: -12px!important;
  margin-top: 13px;
}
}
@media(min-width: 480px) and (max-width: 767px) {
    .form-search {
        margin-left: 105px!important;
    }
    .main-categories .responsive-btn i{
        /*width: 48px;*/
    }
    .header-top {
        padding: 25px 0 7px;
    }
    .form-search{ margin: 18px 0;}
    .cart-login{top:78px}
    .currency-lang{margin-top: 15px;    /*top:53px!important;*/}
    .cart-login li:last-child {
        margin-top: 16px !important;
    }
    .nav-vertical-left-megamenu .responsive-btn{
        /*top: 115px !important;*/
    }
    .top-logo img {
        height: 89px;
    }
    .special-new-years .owl-carousel .owl-wrapper-outer,
    .some-products .owl-carousel .owl-wrapper-outer,
    .products-offers .owl-carousel .owl-wrapper-outer
    {
        overflow: hidden;
        width: calc(100% + 28px);
        width: -moz-calc(100% + 28px);
        width: -webkit-calc(100% + 28px);
    }
    .addresses-list>div{padding-left:15px!important;padding-right:15px!important;}
    .secMenu ul a{
        font-size: 16px!important;
    }

    .addresses-list table, .basket-list table{margin: 0px!important;width:100%!important;}
.top-footer .no-padding>div :not(.footer-soc){padding: 0px!important;}
    .header-top {
        padding: 13px 0;
    }

    .form-search{margin: 0!important;}
    .cart-login{margin-top: 0px;
        top: 36px;}
    .currency-lang .dropdown .dropdown-toggle{line-height: 8px;font-size: 7.6px}
    .currency-lang .dropdown .dropdown-toggle::after {
        font-size: 12px!important;line-height: 8px;
    }
    .currency-lang > ul {
        margin: 10px 0;
    }
    .currency-lang > ul > li:first-child{
        padding: 4px 5px!important;}
    .currency-lang > ul > li {
        font-size: 10px;
        margin-right: 0!important;
        padding: 4px 0px!important;
    }
    .currency-lang > ul > li:last-child a{font-size: 10px!important;}
    .iconBag {
        background: rgba(0, 0, 0, 0) url("../img/iconBag.png") no-repeat scroll -25px 0 / auto 18px;
        color: #79b237 !important;
        font-size: 10px !important;
        height: 18px;
        padding: 6px 0 0;
    }
    .button-search-icon {
        height: 14px !important;
        width: 14px !important;
    }
    .order-history-list>li>div:first-child{width:88px;}

    .order-history-list > li > div.description-product {
        width: calc(100% - 88px);
        width: -webkit-calc(100% - 88px);
        width: -moz-calc(100% - 88px);
    }
    .order-history-list .order-buttons .btn.btn-gray{padding: 4px 8px}
    .two-datepicker > .pull-right {
        float: none;
        padding: 8px 0 0;
        text-align: center;
        width: 100%;
    }
    .orders-box-heading h4{text-align: center}
    .registration-video-link .youtube-icon {
        height: 58px;
        width: 58px;
        display: block;
        margin: 0 auto 9px;
    }
    .addresses-list .btn{
        font-size: 11px!important;
        width: 70px;
        padding: 4px;
        text-align: center;
         height: 20px}
    .addresses-list table td, .basket-list table tbody td{font-size: 11px!important;}
    .inner-content{font-size: 11px}
    .addresses-list table, .basket-list table{margin: 0px!important;}
    .addresses-list .which-address, .addresses-list .addres-info{float: left!important;}
    .account-list{margin-bottom: 10px!important;}
    .addresses-list td{    padding: 0 0 5px!important;}

    .addresses-list .which-address {
        padding: 0 !important;
        height: 22px !important;
        border: 0px !important;
        margin-top: 5px !important;
        font-size: 13px !important;
    }
    .addresses-list .btn{display: block!important;margin-bottom: 5px!important;}
    .addresses-list>div{padding-left:15px!important;padding-right:15px!important;}
    .confirmed-registration .btn {
        display: block !important;
        font-size: 11px;
        height: auto !important;
        line-height: 1;
        margin: 15px auto 0 !important;
        padding: 5px 0 !important;
        width: 84px;
    }
    .registration-video-link{position: static!important;display: block; margin: 20px 0!important;}
    .price-slide {
        margin-top: 2px;
        padding-top: 7px;
        font-size: 20px!important;
    }
    .no-margin-xs{margin:0!important;}
    .homeslider-description .vtop{font-size: 14px!important;}
    .content-slide .vtop img {width: 34px!important;}
    .top-logo a{height: 54px}
    .top-logo a img{height: 44px}
    .all-products-link{float: none!important;}
    .products-offers .nav-tabs>li>a{
        padding: 10px;
    }
    .product_tabs>.nav-tabs>li {font-size: 12px}
    .christmas-tree{
        width: 90px !important;
    }
    .cart-login .dropdown-cart .dropdown-toggle {
        background-size: 23px 20px;
        width: 23px !important;
        height: 23px;
        margin-left: 1px;
    }
    .form-group .search_query {
        font-size:12px !important;
        height: 26px !important;
        padding:0 10px;
        border-radius: 3px !important;
    }
    .btn-search {
        height: 26px !important;
        width: 26px;
        border-radius: 3px;
        padding: 0!important;
    }
    .homeslider-description .vtop {font-size: 17px!important;}
    .form-search {
        margin-left: 70px !important;
        width: calc(100% - 80px) !important;
        width: -moz-calc(100% - 80px) !important;
        width: -webkit-calc(100% - 80px) !important;
    }
    .nav-vertical-left-megamenu .responsive-btn{    padding: 14px 10px !important;}
    .nav-vertical-left-megamenu .responsive-btn {
  padding: 6px 15px !important;
}
    .nav-vertical-left-megamenu .responsive-btn {
        font-size: 21px !important;
    }
    .secMenu ul a{    font-size: 11px !important; }
    .secMenu ul li {
        border-radius: 3px;
        padding: 5px 10px !important;
        margin: 4px 0 5px;
    }
    .some-products .owl-carousel,.owl-three {
        margin: 35px 25px;
        width: calc(100% - 49px);
        width: -webkit-calc(100% - 49px);
        width: -moz-calc(100% - 49px);
    }
    .currency-lang{right:16%!important;margin-top:13px!important;}
    .cart-login{right: 0!important;}
    .special-new-years .product_image,.special-new-years .product_image img{/*height:184px!important;*/}
    .homeslider-style2 .bx-wrapper .bx-controls-direction a {
        background-size: auto 100%!important;
        height: 19px;
        width: 11px;
        margin-top: -9px!important;
        top: 50%!important;
    }
    .owl-controls .owl-buttons .owl-next::before,.owl-controls .owl-buttons .owl-prev::before {
          margin: -23px 4px 8px!important;
    }
    .owl-controls .owl-buttons .owl-next {
        right: -16px!important;
        width: 16px!important;
    }
    .owl-controls .owl-buttons .owl-prev {

        left: -16px!important;
        width: 16px!important;
    }
    .products-offers .owl-three {
        margin: 0 16px !important;
    }
    .some-products .owl-carousel, .owl-three {
        margin: 15px 15px!important;
        width: calc(100% - 29px)!important;
    }
    .special-new-years .owl-carousel {
        margin: 0 16px 20px!important;
        width: calc(100% - 32px)!important;
    }
    .some-products .box-heading {
        padding: 0 15px !important;
    }
    .offers-box .owl-controls .owl-buttons > div::before {
        margin: 5px !important;
    }
    .christmas-title {
        background-size: auto 45px;
        padding: 40px 0 29px;
    }
    .christmas-title span{font-size:13px!important;}
    .christmas-title .lobster-font{font-size:20px!important;}
    .christmas-tree {
        width: 115px !important;
    }
    .special-new-years{background-size: auto 90px!important;}
    #homepage-slider .homeslider-description {
        padding: 5% 30px !important;
    }
}
@media(max-width: 479px){
    .bag-drop {
      background: #ddd !important;
      width: 300px !important;
      left: -270px !important;
      padding: 15px 0 0px !important;
     }

     .bag-drop h3 {
        font-size: 18px;
     }

     .bag-text {
        font-size: 10px !important;
     }

     .product-colors {
      padding-right: 15px !important;
      padding-left: 15px !important;

     }

     .dropdown-bag .dropdown-menu::before {
       bottom: 100%;
       right: 3.5%;
       border: solid transparent;
       border-top-width: medium;
       border-right-width: medium;
       border-bottom-width: medium;
       border-left-width: medium;
       border-bottom-color: transparent;
       content: " ";
       height: 0;
       width: 0;
       position: absolute;
       pointer-events: none;
       border-bottom-color: #ddd;
       border-width: 7px;
       margin-left: -7px;
      }




    .payment-methods img{width: 31px!important;height:auto!important;}
    .top-footer .no-padding>div :not(.footer-soc){padding: 0px!important;}
    .header-top {
        padding: 13px 0;
    }

    .form-search{margin: 0!important;}
    .cart-login{margin-top: 0px;
        top: 36px;}
    .currency-lang .dropdown .dropdown-toggle{line-height: 8px;font-size: 7.6px}
    .currency-lang .dropdown .dropdown-toggle::after {
        font-size: 12px!important;line-height: 8px;
    }
    .currency-lang > ul {
        margin: 10px 0;
    }
    .currency-lang > ul > li:first-child{
        padding: 4px 5px!important;}
    .currency-lang > ul > li {
        font-size: 10px;
        margin-right: 0!important;
        padding: 4px 0px!important;
    }
    .currency-lang > ul > li:last-child a{font-size: 10px!important;}
    .iconBag {
        background: rgba(0, 0, 0, 0) url("../img/iconBag.png") no-repeat scroll -25px 0 / auto 18px;
        color: #79b237 !important;
        font-size: 10px !important;
        height: 18px;
        padding: 6px 0 0;
    }
    .button-search-icon {
        height: 14px !important;
        width: 14px !important;
    }
    .order-history-list>li>div:first-child{width:88px;}

    .order-history-list > li > div.description-product {
        width: calc(100% - 88px);
        width: -webkit-calc(100% - 88px);
        width: -moz-calc(100% - 88px);
    }
    .order-history-list .order-buttons .btn.btn-gray{padding: 4px 8px}
    .two-datepicker > .pull-right {
        float: none;
        padding: 8px 0 0;
        text-align: center;
        width: 100%;
    }
    .orders-box-heading h4{text-align: center}
    .registration-video-link .youtube-icon {
        height: 58px;
        width: 58px;
        display: block;
        margin: 0 auto 9px;
    }
    .addresses-list .btn{
        font-size: 11px!important;
        width: 70px;
        padding: 4px;
        text-align: center;
         height: 20px}
    .addresses-list table td, .basket-list table tbody td{font-size: 11px!important;}
    .inner-content{font-size: 11px}
    .addresses-list table, .basket-list table{margin: 0px!important;}
    .addresses-list .which-address, .addresses-list .addres-info{float: left!important;}
    .account-list{margin-bottom: 10px!important;}
    .addresses-list td{    padding: 0 0 5px!important;}

    .addresses-list .which-address {
        padding: 0 !important;
        height: 22px !important;
        border: 0px !important;
        margin-top: 5px !important;
        font-size: 13px !important;
    }
    .addresses-list .btn{display: block!important;margin-bottom: 5px!important;}
    .addresses-list>div{padding-left:15px!important;padding-right:15px!important;}
    .confirmed-registration .btn {
        display: block !important;
        font-size: 11px;
        height: auto !important;
        line-height: 1;
        margin: 15px auto 0 !important;
        padding: 5px 0 !important;
        width: 84px;
    }
    .registration-video-link{position: static!important;display: block; margin: 12px 0 10px !important;}
    .price-slide {
        margin-top: 2px;
        padding-top: 7px;
        font-size: 20px!important;
    }
    .no-margin-xs{margin:0!important;}
    .homeslider-description .vtop{font-size: 14px!important;}
    .content-slide .vtop img {width: 34px!important;}
    .top-logo a{height: 54px}
    .top-logo a img{height: 44px}
    .all-products-link{float: none!important;}
    .products-offers .nav-tabs>li>a{
        padding: 10px;
    }
    .product_tabs>.nav-tabs>li {font-size: 12px}
    .christmas-tree{
        width: 90px !important;
    }
    .cart-login .dropdown-cart .dropdown-toggle {
        background-size: 23px 20px;
        width: 23px !important;
        height: 23px;
        margin-left: 1px;
    }
    .form-group .search_query {
        font-size:12px !important;
        height: 26px !important;
        padding:0 10px;
        border-radius: 3px !important;
    }
    .btn-search {
        height: 26px !important;
        width: 26px;
        border-radius: 3px;
        padding: 0!important;
    }
    .homeslider-description .vtop {font-size: 17px!important;}
    .form-search {
        margin-left: 70px !important;
        width: calc(100% - 80px) !important;
        width: -moz-calc(100% - 80px) !important;
        width: -webkit-calc(100% - 80px) !important;
    }
    .nav-vertical-left-megamenu .responsive-btn{    padding: 14px 10px !important;}
    .nav-vertical-left-megamenu .responsive-btn {
        font-size: 21px !important;
    }
    .secMenu ul a{    font-size: 11px !important; }
    .secMenu ul li {
        border-radius: 3px;
        padding: 5px 10px !important;
        margin: 4px 0 5px;
    }
    .some-products .owl-carousel,.owl-three {
        margin: 35px 25px;
        width: calc(100% - 49px);
        width: -webkit-calc(100% - 49px);
        width: -moz-calc(100% - 49px);
    }
    .currency-lang{right:16%!important;margin-top:13px!important;}
    .cart-login{right: 0!important;}
    .special-new-years .product_image,.special-new-years .product_image img{/*height:184px!important;*/}
    .homeslider-style2 .bx-wrapper .bx-controls-direction a {
        background-size: auto 100%!important;
        height: 19px;
        width: 11px;
        margin-top: -9px!important;
        top: 50%!important;
    }
    .owl-controls .owl-buttons .owl-next::before,.owl-controls .owl-buttons .owl-prev::before {
          margin: -23px 4px 8px!important;
    }
    .owl-controls .owl-buttons .owl-next {
        right: -16px!important;
        width: 16px!important;
    }
    .owl-controls .owl-buttons .owl-prev {

        left: -16px!important;
        width: 16px!important;
    }
    .products-offers .owl-three {
        margin: 0 16px !important;
    }
    .some-products .owl-carousel, .owl-three {
        margin: 15px 15px!important;
        width: calc(100% - 29px)!important;
    }
    .special-new-years .owl-carousel {
        margin: 0 16px 20px!important;
        width: calc(100% - 32px)!important;
    }
    .some-products .box-heading {
        padding: 0 15px !important;
    }
    .offers-box .owl-controls .owl-buttons > div::before {
        margin: 5px !important;
    }
    .christmas-title {
        background-size: auto 45px;
        padding: 40px 0 29px;
    }
    .christmas-title span{font-size:13px!important;}
    .christmas-title .lobster-font{font-size:20px!important;}
    .christmas-tree {
        width: 115px !important;
    }
    .special-new-years{background-size: auto 90px!important;}
    #homepage-slider .homeslider-description {
        padding: 5% 30px !important;
    }
}
@media(max-width: 372px){
    .timepicker-block label {
        margin: 0 2px;
    }
    .timepicker-block {
        margin: 5px auto;
    }
    .categoryProductsAll>div:not(.list){width: 50%!important;}
}
@media(max-width: 240px){

    .header-bottom .vertical-left-megamenu{width:230px!important;}
    .vertical-left-megamenu .torch-green-border a{font-size:13px !important}
}
@media(min-width: 560px) and (max-width: 767px){

    .secMenu ul li{padding:8px 20px!important;}
}
@media(max-width: 320px){
    .products-offers .nav-tabs > li:nth-child(2) > a {
    padding: 10px 8px!important;
}}
@media(min-width: 601px) and (max-width:767px){
    .secMenu ul li a{font-size:20px!important;}
    .vtop.pull-right{font-size: 40px!important;}
}
@media(min-width: 550px) and (max-width: 600px){
    .secMenu ul li a{font-size:16px!important;}
}

@media (max-width: 1199px){
    .secMenu ul a {
  font-size: 12px;
  color: #464646;
}
}


@media (max-width: 991px){
    .nav-vertical-left-megamenu .menu > li.hidden-lg.hidden-md.top-logo-t{
        padding-bottom: 0 !important;  
    }
    .desktop-nav.vertical-left-megamenu >li:first-child img {
      height: 44px;
    }   
    .vertical-left-megamenu {
      top: 0 !important;
    }
}
@media(max-width: 768px){
    #new-slider .owl-item{
        width: 140px !important;
    }   
    .cloud-zoom-wrap{
        text-align: center;
        margin-bottom: 10px;
    }
    .cloud-zoom-wrap img{
        display: inline-block !important;
    }
    ul.recent_list{
        text-align: center;
    }
    .zoomsArea .photo_container {
      padding: 0!important;
      display: inline-block;
      float: none;
      text-align: center;
    }
    .cloud-zoom{
        max-width: 100% !important;
    }
    .recent_list li a{
        display: inline-block;
        position: relative;
    }
}











