#homepage-slider .bx-wrapper .bx-viewport .homeslider-container .container>a{display: block;max-height: 300px !important;overflow: hidden}


@media (max-width:767px){
 #homepage-slider{width:100%;max-width:100%;padding-top:0;}

 }
 #homepage-slider #homeslider{margin:0 auto;padding:0;}
 #homepage-slider .homeslider-container{position:relative;}
 #homepage-slider .homeslider-image{position:absolute;left:0;top:0;}

 #homepage-slider .homeslider-description{position:absolute;top:0;left:0;color: #fff !important; padding:4% 6%;}
#homepage-slider .homeslider-description p{}
 #homepage-slider .homeslider-description button{font-size:1.2em;text-transform:uppercase;}
 @media (max-width:1200px){/*#homepage-slider .homeslider-description{padding:20px;font-size:0.8em;}*/}
 @media (max-width:768px){
  .product a.quick-view {
   display: none !important;
  }

  /*#homepage-slider .homeslider-description{padding:30px;font-size:0.7em;}*/
  #homepage-slider .homeslider-description p {
   font-size: 1.5em;
  }
  .homeslider
  {
   max-height: 290px !important;
   overflow: hidden;
  }
  #homepage-slider , #homepage-slider .bx-wrapper .bx-viewport .homeslider-container .container > a {

   max-height: 290px !important;
   overflow: hidden
  }

 }

@media (max-width: 480px) {
 .homeslider
 {
  max-height: 145px !important;
  overflow: hidden;
 }
 /*#homepage-slider .homeslider-description{padding:30px;font-size:0.5em;}*/
 #homepage-slider .homeslider-description p {
  font-size: 1.7em;
 }

 #homepage-slider .bx-wrapper .bx-viewport .homeslider-container .container > a,
 #home-slider
{
  max-height: 145px !important;
  overflow: hidden;
 }
}

#homepage-slider .bx-wrapper img {
  height: auto;
  margin: 0 auto;
  position: relative;
  width: auto;
  z-index: 2;}
 #homepage-slider .bx-wrapper .bx-viewport{width:100%;direction:ltr !important;   max-height: 300px !important;}
  #homepage-slider .bx-wrapper .bx-pager.bx-default-pager a{}

#homepage-slider .bx-wrapper .bx-controls-direction a{}
#homepage-slider .bx-wrapper .bx-controls-direction a:before{display:none}
#homepage-slider .bx-wrapper .bx-controls-direction a:after{display:none}

/* DIRECTION CONTROLS (NEXT / PREV) */
#homepage-slider{overflow:hidden; }
.bx-wrapper .bx-prev{left:-100px;background-position:0 0;}

.bx-wrapper .bx-next{right:-100px;background-position:100% 0;}

.bx-wrapper .bx-prev:hover{background-position:0 100%;}

.bx-wrapper .bx-next:hover{background-position:100% 100%;}
.bx-wrapper:hover .bx-controls-direction .bx-prev{left:30px;}
.bx-wrapper:hover .bx-controls-direction .bx-next{right:30px;}
.bx-wrapper:hover .bx-controls-direction a{opacity:1;}

.bx-wrapper .bx-controls-direction a.disabled{display:none;}

#homepage-slider .bx-caption{background-color:rgba(255,255,255,0.8);display:block;margin:0 auto;padding:35px 30px;position:absolute;top:28%;left:0;right:0;width:635px;height:250px;text-align:center ;}
.bx-wrapper .bx-caption.start,
.bx-wrapper .bx-caption.play{display:block;}
.play .caption1{font-weight:bold;font-size:36px;color:#343434 ;z-index:30;padding:0;-moz-animation:fadeInRight 0.8s ease-in 1.3s backwards;-webkit-animation:fadeInRight 0.8s ease-in 1s backwards;animation:fadeInRight 0.8s ease-in 1s backwards;opacity:1;line-height:36px;color:#d6644a;}
.play .caption1 span{font-size:36px;font-weight:bold ;color:#d6644a ;}
.play .caption2{text-shadow:none;z-index:40;padding:20px 0 30px ;-moz-animation:fadeInLeft 0.8s ease-in 1.5s backwards;-webkit-animation:fadeInLeft 0.8s ease-in 1.5s backwards;animation:fadeInLeft 0.8s ease-in 1.5s backwards;opacity:1;}
.play .caption2 p{font-weight:normal;font-family:"Raleway";font-size:18px;line-height:20px;letter-spacing:0;text-align:center;color:#333333;position:relative;}
.play .caption2 p:before{border-top:4px solid #000;content:"";height:1px;left:0;margin:auto;position:absolute;right:0;top:56px;width:81px;z-index:0;}

.play .caption3{background-color:#000;cursor:pointer;font-weight:bold;line-height:43px;padding:0 42px;text-align:center;font-size:12px;position:relative ;z-index:50;-moz-animation:fadeInUp 0.8s ease-in 1.7s backwards;-webkit-animation:fadeInUp 0.8s ease-in 1.7s backwards;animation:fadeInUp 0.8s ease-in 1.7s backwards;opacity:1;display:inline-block;margin:10px 0 0;}
.play .caption3:hover{background-color:#d6644a;}
.play .caption3 a{color:#fff;}
.play .caption4{font-weight:bold;border:1px solid rgba(0,0,0,0.5);font-size:13px;-moz-animation:fadeInLeft 1s ease-in 2s backwards;-webkit-animation:fadeInLeft 1sease-in 2s backwards;animation:fadeInLeft 1 sease-in 2s backwards;position:absolute;bottom:80px;right:80px;z-index:60;padding:5px;opacity:1;cursor:pointer;}

/* */
@media (min-width:992px) and (max-width:1199px){#homepage-slider .bx-caption{top:15%;}}
@media (min-width:768px) and (max-width:991px){#homepage-slider .bx-caption{top:8%;}}
@media (min-width:480px) and (max-width:767px){#homepage-slider .bx-caption{top:10%;padding:15px 20px;width:80%;height:60%;}
 .play .caption1{font-size:24px;line-height:24px;}
 .play .caption3{display:none;}

}

 @media (max-width: 479px) {
  #homepage-slider .bx-caption {
   display: none;
  }

  .homeslider-style2 .homeslider .bx-wrapper .bx-pager .bx-pager-item{height:10px!important;}
  .homeslider-style2 .homeslider .bx-wrapper .bx-pager .bx-pager-item a{
   border: 1px solid #fff!important;
   border-radius: 2px!important;}
 }

 .bx-controls{ bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
 }
 .bx-controls-direction{height: 100%}
.bx-controls-direction>a{background: url("../img/next.png") no-repeat!important;width:26px}
.bx-controls-direction>a:hover{background-position: -27px 0}
.bx-prev{transform: rotate(180deg);
 -moz-transform: rotate(1800deg);
 -ms-transform: rotate(180deg);
 -webkit-transform: rotate(180deg);
 -o-transform: rotate(180deg);}

 @media (max-width:768px){
  .homeslider-style2 .homeslider .bx-wrapper .bx-pager .bx-pager-item{height: 8px!important;}
 }
@media (max-width: 768px){
    #homepage-slider .bx-wrapper .bx-viewport{
        max-height: 145px !important;
    }
}







 






 






 






 






 