@media (min-width: 1200px) {
    .megamenu-1760 > .megamenu {
        position: absolute;
        width: 100%;
        top: 53px;
        left: 0px;
    }

    .megamenu-1761 > .megamenu {
        position: absolute;
        width: 100%;
        top: 53px;
        left: 0px;
    }

    .megamenu-1762 > .megamenu {
        position: absolute;
        width: 750px;
        top: 53px;
        left: 0px;
    }

    .megamenu-1768 > .megamenu {
        position: absolute;
        width: 900px;
        top: 0px;
        left: 100%;
    }

    .megamenu-container > .megamenu {
        position: absolute;
        width: 450px;
        left: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .megamenu-container > .megamenu {
        position: absolute;
        width: 450px;
        left: 100%;
    }
    .megamenu-1760 > .megamenu {
        position: absolute;
        width: 100%;
        top: 53px;
        left: 0px;
    }

    .megamenu-1761 > .megamenu {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0px;
    }

    .megamenu-1762 > .megamenu {
        position: absolute;
        width: 750px;
        top: 53px;
        left: 0px;
    }

    .megamenu-1768 > .megamenu {
        position: absolute;
        width: 750px;
        left: 100%;
    }

    .megamenu-1769 > .megamenu {
        position: absolute;
        width: 450px;
        left: 100%;
    }
}

@media (max-width:768px) {
    .megamenu-img{display: none!important;}
    .mega-group-header{display: none!important;}
}